html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img {
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  overflow-x: hidden;
}
fieldset,img {
  border: 0;
}
img {
  display: block;
}
address,caption,cite,code,dfn,th,var {
  font-style: normal;
  font-weight: normal;
}
ul,ol {
  list-style: none;
}
input {
  padding-top: 0;
  padding-bottom: 0;
  outline: none;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
select,input {
  vertical-align: middle;
}
select,input,textarea {
  margin: 0;
}
input[type="text"],input[type="password"],textarea {
  outline-style: none;
  /* -webkit-appearance: none; */
}
textarea {
  resize: none;
}
table {
  border-collapse: collapse;
}
button{
  outline: none;
  border: none;
}